/** CONTAINER **/

// CONTAINER
.#{$brand} {
    &__container {
        width: 100%;
        &--general {
            background-color: $fondo;
            @include mq-min (tab) {
                height: 100vh;
            }
        }
        &--limit {
            @extend %widthLimit;
        }
        &--search {
            display: none;
            @include mq-min (tab) {
                max-width: 49%;
                @include flex(flex-start);
            }
        }
    }
}