.#{$brand} {
    &__administracion {
        @include flex(flex-start);
        border-radius: 0 8px;
        &--container {
            width: 100%;
            @include flex(flex-start);
            margin-bottom: 35px;
            @include mq-min (tab) {
                flex-direction: column-reverse;
            }
        }
    }
    &__enlaces {
        width: 100%;
        height: 70px;
        @include flex($jc: flex-start);
        margin-left: 15px;
        @include mq-min(tab) {
            margin: 20px 0 20px 100px;
        }
        &--administrador {
            color: $blueAdmin;
            font-family: $robotoRegular;
            font-style: normal;
            font-weight: normal;
            font-size: toRem(14);
            line-height: 16px;
            @include mq-min(tab) {
                font-size: toRem(24);
                line-height: 28px;
            }
        }
        &--aprobacion {
            @extend .pv__enlaces--administrador;
            color: $black;
            font-family: $robotoBold;
        }
        &--diagonal {
            @extend .pv__enlaces--aprobacion;
            margin: 0 2px;
        }
    }
    &__slide {
        width: 100%;
        margin: 20px auto;
        @include flex($jc: center);
        &--text {
            color: $grayAdm;
            font-family: $robotoRegular;
            font-style: normal;
            font-size: toRem(14);
            line-height: 16.41px;
            margin: 0 7px;
        }
    }
    &__contenido {
        background-color: $white;
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba($color: $black, $alpha: 0.25);
        position: relative;
        @include mq-min(tab) {
            max-width: 942px;
            height: 734px;
            padding-top: 15px;
            margin-bottom: 40px;
        }
        &--puntos {
            width: 100%;
        }
        &--logo {
            width: 100%;
            max-width: 291px;
            height: 237px;
            background-color: $fondoTriangulo;
            @include flex($jc: center);
            margin: 0 auto;
            margin-bottom: 30px;
            @include mq-min(tab) {
                margin-bottom: 40px;
            }
        }
        &--prueba1 {
            display: none;
            @include mq-min(tab) {
                display: block;
                position: absolute;
                top: 0;
                right: 6%;
            }
        }
        &--prueba2 {
            width: 100%;
            @include mq-min(tab) {
                display: none;
            }
        }
        &--aprobar {
            width: 100%;
            max-width: 223px;
            height: 46px;
            border-radius: 16px;
            background-color: $white;
            box-shadow: 0 2px 2px rgba($color: $black, $alpha: 0.25);
            padding: 0 10px;
            margin: 30px auto;
            @include flex($jc: flex-start, $ai: center);
        }
        &--text {
            font-family: $robotoBold;
            font-size: toRem(18);
            line-height: 21px;
            color: $black;
            font-style: normal;
            margin-left: 10px;
        }
    }
    &__formulario {
        width: 100%;
        @include flex(flex-start);
        @include mq-min (tab) {
            max-width: 80%;
            justify-content: space-between;
            margin: 0 auto;
        }
        &--data {
            @include flex(flex-start);
            width: 100%;
            margin-bottom: 40px;
            border-bottom: 0.5px solid $grayLine;
            @include mq-min(tab) {
                max-width: 48%;
                margin-bottom: 80px;
                &:last-of-type {
                    border: none;
                }
            }
        }
        &--label {
            width: 100%;
            font-family: $robotoRegular;
            font-weight: 400;
            color: $grayForm;
            line-height: 16.41px;
            font-size: toRem(14);
            font-style: normal;
            margin-bottom: 8px;
        }
        &--input {
            width: 100%;
            outline: none;
            border: none;
            margin-left: 5px;
            margin-bottom: 5px;
            color: $black;
            font-size: toRem(16);
            font-weight: 700;
            font-style: normal;
            line-height: 18.75px;
        }
    }
    &__descargable {
        width: 100%;
        @include mq-min(tab) {
            display: none;
        }
        &--text {
            font-size: toRem(18);
            font-family: $robotoRegular;
            font-weight: bold;
            font-style: normal;
            color: $black;
        }
        &--contenedor {
            width: 85%;
            margin: 0 auto;
        }
        &--links {
            width: 100%;
            @include flex($jc: space-between);
            margin: 15% 0;
        }
    }
    &__modal {
        display: none;
        @include mq-min(tab) {
            width: 100%;
            max-width: 228px;
            height: 60px;
            justify-content: flex-start;
            border-radius: 8px;
            background-color: $white;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            @include flex($jc: center);
        }
        &--link {
            font-family: $robotoBold;
            font-size: toRem(18);
            line-height: 21px;
            font-style: normal;
            color: $black;
            margin-left: 10px;
        }
        &--container {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba($color: $black, $alpha: 0.4);
        }
        &--contenido {
            background-color: $white;
			margin: auto;
			padding: 20px;
			border: 1px solid lightgray;
            width: 100%;
			max-width: 60%;
        }
        &--close {
            color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
            &:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
        &--ventana {
            @extend .pv__modal--contenido;
            max-width: 533px;
            height: 572px;
        }
        &--title {
            @extend %titleBold;
            text-align: center;
        }
        &--bloque {
            width: 90%;
            margin: 0 auto;
        }
        &--text {
            font-family: $robotoRegular;
            font-size: toRem(24);
            line-height: 28px;
            color: $black;
            max-width: 60%;
        }
        &--download {
            @extend .pv__descargable--links;
            margin: 7% auto;
            margin-left: 0;
            max-width: 86%;
        }
    }
}