/* HEADER */
.#{$brand}{
    // HEADER
    &__header {
        width: 100%;
        background-color: $gray;
        height: 80px;
        @include flex($jc: center);
        @include mq-min (tab) {
            justify-content: flex-start;
        }
    }
    //LEFT
    &__left {
        width: 100%;
        max-width: 80%;
        height: 100%;
        @include mq-min(tab) {
            max-width: 43%;
            margin-left: 40px;
            color: $whiteH;
            @include flex($ai: center, $jc: flex-start);
        }
    }
    // INPUT
    &__input {
        display: none;
        @include mq-min (tab) {
            display: block;
            outline: none;
            border: none;
            background-color: transparent;
            margin-left: 10px;
            color: $white;
            font-family: $robotoRegular;
            font-weight: 400;
            font-size: toRem(16);
        }
    }
    // LOGO
    &__logo {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        line-height: 0;
        @include flex(flex-start);
        @include mq-min(tab) {
            max-width: 49%;
        }
        &--img {
            width: 100%;
            max-width: 70px;
            max-height: 70px;
        }
        &--title {
            color: $white;
            font-family: $robotoRegular;
            font-weight: 700;
            font-size: toRem(16);
        }
    }

    // NAV
    &__nav {
        display: none;
        @include mq-min(tab) {
            @include flex($jc: flex-end);
            display: block;
            width: 100%;
            max-width: 52%;
        }
    }
    &__list {
        @include flex($jc: space-between, $ai: center);
        &--item {
            @include flex($ai: center);
        }
        &--link {
            margin: 0 10px;
            color: $white;
            font-family: $robotoRegular;
            font-weight: 400;
        }
        &--bold {
            @extend .pv__list--link;
            font-weight: 700;
        }
    }
}