/* VARIABLES */
//Marca
$brand: "pv";

// MEDIAQUERIES
$mediaqueries: (
	hover: "(hover: hover)",
	ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: "not all and (min-resolution:.001dpcm)",
	mobS3: 360,
	mobS2: 480,
	mobS: 640,
	mob: 767,
	tabS: 820,
	tab: 991,
	lapS3: 1024,
	lapS2: 1199,
	lapS: 1280,
	lap: 1367,
	deskS: 1440,
	desk: 1560,
	deskB: 1680
);

// WIDTH
$widthLimit: 1200px;

// COLORS
$black: #000;
$blcakLight: #424242;
$gray: #292929;
$grayText: #9A9A9A;
$grayAdm: #525252;
$grayForm: #727171;
$grayLine: #A7A7A7;
$white: #FFF;
$whiteH: #FFFAFA;
$fondo: #E5E5E5;
$fondoTriangulo: #F3F3F3;
$blue: #26B4FF;
$blueAdmin: #26B4FF;
$red: #FF0000;
$separador: #CBCEDD;

// FORMS
$wrong: $red;

// LOADER
$bgLoader: $black;
$strokeLoader: $white;
$widthLoader: 100px;

// GLOBAL FONTS
$robotoRegular: 'robotoRegular';
$robotoBold: 'robotoBold';

$fontFamily: robotoRegular;
$baseFont: 16;

// MODAL
$bgModal: $black;
$maxWModal: 500px;
$minHModal: 400px;
$maxHModal: 550px;

// HAMBURGER BTN
$acSizeHam: false;
$sizeHam: 80px;
$bgHam: transparent;
$colorBarHam: $white;
$widthBarHam: 24px;
$heightBarHam: 3px;
$radiusBarHam: 2px;
$spaceBar: $heightBarHam + 3px;