/* BOXES */

// BIG BOX
.bigBox {
    @extend %width100;
    &__container {
        @include flex;
        @extend %widthLimit;
    }
    &__left, &__right {
        width: 50%;
    }
    &__left {
        padding-right: 20px;
    }
    &__right {
        padding-left: 20px;
    }
}

// WAVES
.waves {
    user-select: none;
    overflow: hidden;
}

.wave {
    display: block;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    transform: scale(0);
    pointer-events: none;
    @include transition($time:1, $timing: ease-out);
}